$cls: flowchart;

.#{$cls} {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;

  &-t,
  &-b {
    position: absolute;
    left: 0;
    right: 0;
  }

  &-t {
    top: 0;
    z-index: 100;
    box-shadow: 0px 1px 8px #dddddd;
    transition: all 0.2s;
    &-t {
      height: 48px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 26px;
      box-sizing: border-box;

      &-l {
      }
      &-r {
        overflow-x: auto;
        flex: 1;
      }

      &-s {
        margin: 0 5px;
        height: 36px;
        width: 1px;
        background-color: #dddddd;
      }
    }

    &-b {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;

      .#{$cls}-toggler {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 14px;
        top: -1px;
      }
    }
  }

  &-b {
    top: 48px;
    bottom: 0;
    transition: all 0.2s;

    &-l,
    &-m,
    &-r {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &-m {
      background-color: #f7f7f7;
      left: 280px;
      right: 360px;
      overflow: auto;
      transition: all 0.2s;
    }

    &-r {
      background-color: #ffffff;
      right: 0;
      width: 360px;
      border-left: 1px solid #eeeeee;
      transition: all 0.2s;
      z-index: 1;
      &-l,
      &-r {
        position: absolute;
        top: 0;
        bottom: 0;
      }

      &-l {
        left: 0;
        .#{$cls}-toggler {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -14px;
          width: 14px;
          height: 75px;
        }
      }

      &-r {
        left: 0;
        right: 0;
      }
    }

    &-l {
      background-color: #ffffff;
      left: 0;
      width: 280px;
      border-right: 1px solid #eeeeee;
      transition: all 0.2s;
      z-index: 1;

      &-l,
      &-r {
        position: absolute;
        top: 0;
        bottom: 0;
      }

      &-r {
        right: 0;
        .#{$cls}-toggler {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotateY(180deg);
          right: -14px;
          width: 14px;
          height: 75px;
        }
      }

      &-l {
        left: 0;
        right: 0;
      }
    }

    &-b {
      position: absolute;
      bottom: 0;
      right: 360px;
      z-index: 1;
      transition: all 0.2s;
    }
  }

  &-readonly .#{$cls}-t-t {
    display: none;
  }
  &-readonly .#{$cls}-b {
    top: 0 !important;
  }

  &-hide-top > &-t {
    transform: translateY(-100%);
  }
  &-hide-top > &-b {
    top: 0;
  }
  &-hide-right > &-b > &-b-m,
  &-hide-right > &-b > &-b-b {
    right: 0;
  }
  &-hide-right > &-b > &-b-r {
    transform: translateX(100%);
  }

  &-hide-right &-b-r-r {
    display: none;
  }
  &-hide-right &-b-r {
    width: 0;
  }

  &-hide-left > &-b > &-b-m {
    left: 0;
  }
  &-hide-left > &-b > &-b-l {
    transform: translateX(-100%);
  }
  &-hide-left &-b-l-l {
    display: none;
  }
  &-hide-left &-b-l {
    width: 0;
  }
  &-no-left &-b-m {
    left: 0 !important;
  }
  &-no-right &-b-m,
  &-no-right &-b-b {
    right: 0 !important;
  }

  &-pager {
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 1px #eeeeee;
  }

  &-toggler {
    cursor: pointer;
    color: #ededed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.6;

    &:hover {
      color: #e5e5e5;
      opacity: 1;
    }
  }

  &-sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
  }

  &-chart {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    &-readonly {
      .#{$cls}-pager {
        display: none;
      }
    }

    &-is-mobile {
      overflow: auto !important;
      height: calc(100% - 60px);
    }
  }
}
