$cls: m-bpm-components-inputselect;

.#{$cls} {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-value {
    flex: 1;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    &-item {
      color: #333333;
      font-size: 14px;
    }
  }

  &-trigger {
    color: #c7c7cc;
    font-size: 12px;
    padding-left: 5px;
  }
}
